<!DOCTYPE html>
<html>
    <head>
        <title>Plate Calculator</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
        <script src="{{ url_for('static',filename='scripts/barButtons.js') }}" defer></script>
        <script src="{{ url_for('static',filename='scripts/plateButtons.js')}}" async></script>
        <script src="{{ url_for('static',filename='scripts/submit.js')}}" async></script>
    </head>

    <body>
        <div class="header">
            <div class="header-wrapper">
                <h1 class="header-title">Plate Calculator</h1>
                <button class="reset-button" onclick="location.reload()">Reset</button>
            </div>
        </div>
        <div class="main-wrapper">
            <div class="input-wrapper">
                <div class="weight-input">
                    <label for="weight" class="input-label">Total Weight (bar+plates)</label>
                    <input type="number" id="weight" name="weight" min="0">
                </div>
                <div class="barbell-selector-wrapper">
                    <p class="input-label">Barbell Weight</p>
                    <div class="bar-button-wrapper" id="bar-buttons">
                        <button class="barbell-selector" data-weight="55">55 lbs</button>
                        <button class="barbell-selector" data-weight="45">45 lbs</button>
                        <button class="barbell-selector" data-weight="25">25 lbs</button>
                        <button class="barbell-selector" data-weight="15">15 lbs</button>
                    </div>
                </div>
                <div class="plate-selector-wrapper">
                    <p class="input-label">Plate Weights</p>
                    <div class="plate-button-wrapper">
                        <button class="plate-selector" data-weight="55" onclick="toggle(this)">55 lbs</button>
                        <button class="plate-selector" data-weight="45" onclick="toggle(this)">45 lbs</button>
                        <button class="plate-selector" data-weight="35" onclick="toggle(this)">35 lbs</button>
                        <button class="plate-selector" data-weight="25" onclick="toggle(this)">25 lbs</button>
                    </div>
                    <div class="plate-button-wrapper">
                        <button class="plate-selector" data-weight="10" onclick="toggle(this)">10 lbs</button>
                        <button class="plate-selector" data-weight="5" onclick="toggle(this)">5 lbs</button>
                        <button class="plate-selector" data-weight="2.5" onclick="toggle(this)">2.5 lbs</button>
                    </div>
                    <button class="submit-button" onclick="submit()">Calculate</button>
                </div>
            </div>
            <div class="output-wrapper">
                <p class="error-message" id="error-message"></p>
                <div class="output-plate-wrapper">
                    <p class="output-label">Plates</p>
                    <div class="plate-list" id="plate-list"></div>
                </div>
            </div>
        </div> 
    </body>
</html>