*{
    color: white;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(8, 4, 32);
}

button{
    color: black;
}

input{
    color: black;
}

.header-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color:rgb(98, 98, 98);
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
}

.header-wrapper h1{
    color: white;
    font-weight: bold;
    text-align: center;
}

.header{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.main-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 50%;
}

.input-wrapper label{
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.weight-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.weight-input input{
    width: 25%;
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.barbell-selector-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bar-button-wrapper {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6%;
}

.barbell-selector {
    padding: 10px 19%;
    font-size: 1.5em;
}

.active, .barbell-selector:hover {
    background-color: rgb(123, 96, 10);
    border-color: white;
    border-radius: 5px;
    color: white;
}